.buttonRow {
  /*
  * relative position contains absolutely positioned
  * VisuallyHidden elements - otherwise they can cause
  * a horizontal scrollbar
  */
  position: relative;
  white-space: nowrap;
  overflow: auto;
  margin-left: -22px;
  margin-right: -22px;
  margin-bottom: -22px;
  padding: 24px;
}
